{% if site.douban_domain %}
<section class="panel panel-default clearfix">
    <div class="panel-heading">
        <h3 class="panel-title">Booklist in Douban</h3>
    </div>
    <div style="padding-left:40px">
        <script type="text/javascript" src="http://www.douban.com/service/badge/{{ site.douban_domain }}/?selection={{ site.douban_selection }}&amp;picsize={{ site.douban_picsize }}&amp;show=collection&amp;n={{ site.douban_n }}&amp;cat=book&amp;columns={{ site.douban_col}}&amp;hideself=on"></script>
    </div>
</section>
{% endif %}
